<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently an Project Manager at
      <a class="underline-link" href="https://automateddecision.com/about-us/">Automated Decision</a> managing projects with some awesome people. I am pursuing a part time MBA from
      <a class="underline-link" href="https://online.nec.edu/executive-mba/" target="_blank">New England College</a> after working for 4 years in the United States at
      <a class="underline-link" href="https://www.pearson.com/en-us.html" target="_blank">Pearson Education</a>,
      <a class="underline-link" href="https://www.northeastern.edu/" target="_blank">Northeastern University</a>, and
      <a class="underline-link" href="https://www.skyhook.com/" target="_blank">Skyhook</a>, I also worked at Companies like
      <a class="underline-link" href="https://www.northeastern.edu/" target="_blank">Google</a>,
      <a class="underline-link" href="https://about.meta.com/" target="_blank">Meta</a>,
      <a class="underline-link" href="https://blinkit.com/aboutus" target="_blank">Blinkit</a>.
    </p>

    <p>
      As a Project Manager, I thrive on bridging the gap between engineering/tech teams and product management. By seamlessly blending my technical acumen with effective management skills, I leverage years of experience to foster innovation and creativity. My passion lies in crafting elegant solutions for diverse challenges, always aiming to create applications that are not only scalable and efficient under the hood but also deliver engaging, pixel-perfect user experiences.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably traveling, photo-walking around on the city of Boston,
      or baking or doing some artwork.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
